<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Chatting Application</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <div id="chat-app">
        <div id="chat-window">
            <div id="output">

            </div>
        </div>
        <input id="username" type="text" placeholder="Name">
        <input id="message" type="text" placeholder="Say something">
        <button id="send">Send</button>
    </div>
    <script>
        var socket = io();

        var message = document.getElementById('message')
        var usename = document.getElementById('username');
        var btn = document.getElementById('send');
        var output = document.getElementById('output');

        message.addEventListener('keyup', function(event) {
            event.preventDefault();
            if (event.keyCode == 13) {
                btn.click()
            }
        })
        btn.addEventListener('click', function() {
            if (message.value == '') {
                alert("You need to enter something! Don't spam!");
            }
            else {
                socket.emit('chat', {
                message: message.value,
                username: username.value
                })
                message.value = '';
            }
            
        });

        socket.on('chat', function(data) {
            var para = document.createElement("P");
            para.innerText =  data.username + ": " + data.message;
            output.appendChild(para);
            para.scrollIntoView();
            // output.innerHTML += "<p>" + data.username + ": " + data.message + "</p>";
        })
    </script>
</body>
</html>