@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');


body {
    font-family: Consolas;
}


#chat-app {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 12px;
    padding: 10px;
}

#chat-window {
    height: 400px;
    overflow: auto;
    padding: 10px;

}

#output {
    font-family: Fira Sans;
    padding: 10px;
}

input {
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    font-family: Fira Sans;
    font-size: 18px;
    padding: 10px;
}


#send {
    border: none;
    background-color: green;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    padding: 10px;
    font-family: Fira Sans
}

#send:hover {
    background-color: red;
    border-radius: 12px;
    padding: 10px;
}