body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#chat-app {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window {
    height: 400px
}


#output {
    border: 1px solid black;
}